<div class="small-container">
	<h1>User Database</h1>

	<div>
		<a href="#" class="btn btn-primary">Back</a>
	</div>
</div>

<div class="small-container margin-top-20">
  <%= form_for(@user, method: "PUT") do |f| %>
	<div class="well">
		<div class="bold">
			First Name
		</div>
		<div class="margin-top-20">
			<%= f.text_field :firstname, :class => "form-control" %>
		</div>
		<div class="bold margin-top-20">
			Last Name
		</div>
		<div class="margin-top-20">
			<%= f.text_field :lastname, :class => "form-control" %>
		</div>
		<div class="bold margin-top-20">
			Username
		</div>
		<div class="margin-top-20">
      <%= f.text_field :username, :class => "form-control" %>
		</div>
		<div class="bold margin-top-20">
			Role
		</div>
		<div class="margin-top-20">
			<%= f.text_field :username, :class => "form-control" %>
		</div>
		<div class="margin-top-20 txt-right">
			<a href="#" class="btn btn-default">Cancel</a>
			<button type="submit" class="btn btn-primary">Edit User</button>
		</div>
	</div>
	<% end %>
</div>


<%= form_for(user_path(@user.id), method: "DELETE") do %>
  <button type="submit" class="btn btn-danger">Delete User</button>
<% end %>